---
layout: default
---
<div class="post-content">

    <header class="post-header">
        <h1 class="post-title">Weeknotes</h1>
    </header>

    <div class="intro">
        <p>Wekelijkse reflecties over werk, technologie (en het leven). Dit zijn mijn <a
                href="https://kees.it.com/weeknotes/2025/03/13/De-meta-weeknote.html">weeknotes</a>: korte updates over
            waar ik over nadenk, aan werk en wat ik leer. Ik schrijf zoal over de spanning tussen technologie en beleid,
            de uitdagingen van digitale transformatie, en hoe we betekenisvolle verandering kunnen bewerkstelligen.
            Zoals over <a href="/2025/12/27/ai-erodeert.html">hoe AI het strategisch landschap erodeert</a>,
            <a href="/2025/12/02/wardley-maps.html">wanneer bouwen en wanneer kopen</a>,
            <a href="/2025/10/21/praten.html">apps bouwen door te praten</a>, en de realiteit van <a
                    href="/2025/03/07/hosting-in-slow-motion.html">hosting in slow motion</a>.</p>
    </div>


    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <div class="content">
        {{ post.excerpt }}
    </div>
    {% endfor %}

    <!-- Pagination links -->
    <div class="pagination post-meta">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">
            Previous
        </a>
        {% else %}
        <span class="previous">Previous</span>
        {% endif %}
        <span class="page_number ">
      Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
        {% else %}
        <span class="next ">Next</span>
        {% endif %}
    </div>

</div>
