---
layout: default
title: Publications
---

<h1 class="post-title">Publications</h1>
<p>
I have published over 30 peer-reviewed scholarly articles; these include full papers at major information retrieval
venues such as ECIR, CIKM, WSDM, and SIGIR with acceptance rates as low as 10%. According to Google Scholar, my
articles have received over 1.2k citations; my h-index is 20.

See also my publication profiles at
<a href="http://scholar.google.nl/citations?user=Y3ahb_wAAAAJ&hl=en">google scholar</a> and
<a href="http://www.dblp.org/search/index.php#query=author:anne_schuth:">dblp</a>.
</p>

{% assign publications = site.publications | sort: "year" | reverse %}
{% for pub in publications %}
<p>
  <i>{{ pub.author }}.</i>
  <a href="{{ pub.url }}">{{ pub.title }}</a>
  {% if pub.booktitle %}In {{ pub.booktitle }}, {% endif %}{{ pub.year}}.
</p>
{% endfor %}
