---
layout: default
---

<div class="page">

    <h1 class="post-title">{{ page.title }}</h1>
    <p>
        <i>{{ page.author }}.</i>
        {% if page.booktitle %}In {{ page.booktitle }}, {% endif %}{% if page.journal %}In {{ page.journal }}, {% endif
        %}{{ page.year}}.
    </p>
    {% if content != blank %}<h2>Abstract</h2>
    <p>{{ content }}</p>
    {% endif %}
    <h2>Links</h2>
    <p>
    {% if page.pdf %}
    <a href="{{page.pdf}}"><i class="fa fa-file-pdf-o"></i> {{ page.title }}</a> <br />
    {% endif %}
    {% if page.repo %}
    <a href="{{page.repo}}"><i class="fa fa-github"></i> {{page.repo}}</a> <br />
    {% endif %}
    {% if page.bitbucket %}
    <a href="{{page.bitbucket}}"><i class="fa fa-bitbucket"></i> {{page.bitbucket}}</a> <br />
    {% endif %}
    {% if page.arxiv %}
    <a href="https://arxiv.org/abs/{{page.arxiv}}"><i class="fa fa-archive"></i> https://arxiv.org/abs/{{page.arxiv}}</a> <br />
    {% endif %}
    {% if page.doi %}
    <a href="https://doi.org/{{page.doi}}"><i class="fa fa-link"></i> https://doi.org/{{page.doi}}</a> <br />
    {% endif %}
    </p>
    
    <h2>Bib</h2>
<pre>
@{{page.type}}{ {{- page.key}},
  title = { {{-page.title-}} },
  author = { {{-page.author-}} },
  year = { {{-page.year-}} }{% if page.booktitle %},
  booktitle = { {{-page.booktitle-}} }{% endif %}{% if page.journal %},
  journal = { {{-page.journal-}} }{% endif %}{% if page.doi %},
  doi = { {{-page.doi-}} }{% endif %}
}</pre>
</div>